.formulaire-projet {
  width: 100%;
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  background-color:  white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.page-formulaire-projet {
  width: 100%;
  min-height: 100vh;
  background-color: white;
}

