.header {
  position: sticky;
  top: 0;
  z-index: 100; /* Makes sure it appears above other elements */
}
  
  .header-content {
    
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
  }

  .logoAIE{
    width: 200px;
    height: 30px;
    cursor: pointer;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: #2A254B;
  }
  
  .nav-links {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
  
  .nav-links a {
    color: #000000;
    text-decoration: none;
    font-weight: 500;
  }
  
  .join-btn {
    background: #FF8C42;
    color: white;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .join-btn:hover {
    background: #f06712;
  }